<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="Dev" class="com.dheeraj.demo.Dev" autowire="byType">
<!--        <property name="age" value="12"/>-->
        <constructor-arg index="0" value="15"/>
        <constructor-arg index="1" value="80000"/>
<!--        <property name="laptop" ref="Lap"/>-->
    </bean>

    <bean id="Lap" class="com.dheeraj.demo.Laptop" primary="true">

    </bean>

    <bean id="Desk1" class="com.dheeraj.demo.Desktop">

    </bean>
</beans>